OAuthOpenIdServer.ApplicationLogic/bin/
OAuthOpenIdServer.ApplicationLogic/obj/
OAuthOpenIdServer.EntityFramework/bin/
OAuthOpenIdServer.EntityFramework/obj/
OAuthOpenIdServer.EntityFramewrok.Core/obj/
OAuthOpenIdServer/bin/
OAuthOpenIdServer/obj/
OAuthOpenIdServer.EntityFramewrok.Core/bin/
